<div class="page_wrapper">
    <h1 class="page_title"><%= @patient.fullname %></h1>
    <div class="attr_wrapper">
        <p class="attr_title">Age:</p>
        <div class="attr_data">
            <%= @patient.age %>
        </div>
    </div>
    <div class="attr_wrapper">
        <p class="attr_title">Phone:</p>
        <div class="attr_data">
            <%= @patient.phone %>
        </div>
    </div>
    <div class="action_links">
        <p><%= link_to "Back", patients_path, class: "btn btn-secondary edit1" %></p>
        <p><%= link_to "Edit", edit_patient_path(@patient), class: "btn btn-primary edit1" %></p>
        <p>
            <%= button_to "Delete", @patient, method: :delete, class: "btn btn-danger delete-btn", data: { turbo_confirm: "All of the data about this patient will be deleted. Are you sure?" } %>
        </p>
    </div>
</div>
