<div class="page_wrapper">
    <h1 class="page_title"><%= @doctor.fullname %></h1>
    <div class="attr_wrapper">
        <p class="attr_title">Specialization:</p>
        <div class="attr_data">
            <%= @doctor.specialization %>
        </div>
    </div>
    <div class="attr_wrapper">
        <p class="attr_title">Experience:</p>
        <div class="attr_data">
            <%= @doctor.experience %> years
        </div>
    </div>
    <div class="action_links">
        <p><%= link_to "Back", doctors_path, class: "btn btn-secondary" %></p>
        <p><%= link_to "Edit", edit_doctor_path(@doctor), class: "btn btn-primary" %></p>
        <p>
            <%= button_to "Delete", @doctor, method: :delete, class: "btn btn-danger", data: { turbo_confirm: "All of the data about this doctor will be deleted. Are you sure?" } %>
        </p>
    </div>
</div>
